@font-face {
  src: url("overwatch.ttf");
  font-family: "Overwatch";
}

body {
  background-color: #e8e8e8;
}

a:hover {
    color: black;
}

.vk:before {
    content: "";
    display: block;
    background: url("image1.png") no-repeat;
    background-size: contain;
    width: 20px;
    height: 20px;
    float: left;
    margin-right: 6px;
    margin-top: 3px;
}

.main {
    width: 600px;
    margin: auto;
}
.title {
  font-family: 'Overwatch', sans-serif;
  color: black;
  font-size: 52px;
  text-align: center;
  margin-top: 30px;
}

.image {
  cursor: pointer;
  margin: auto;
  margin-top: 100px;
  border: solid 4px black;
  height: 300px;
  width: 300px;
  background-image: url("image1.png");
  border-radius: 150px;
  background-size: contain;
  position: relative;
}

.vk {
  position: relative;
  text-decoration: none;
  color: grey;
  font-size: 22px;
  font-family: "Lato";
  font-weight: 700;
  top: 20px;
  display: inline-block;
}
.links {
    width: 310px;
    margin: auto;
}
.vk-2, .vk-3 {
  margin-left: 20px;
}
